body{
    background-color: beige;
}

img{
    border-style: solid;
    border-radius: 20px;
    border-width: 1px;
    border-color: black;
    margin: 2%;
}

#menu{
    width: 100%;
    height: fit-content;
}

#header{
    margin: 2%;
}

#information{
    display: flex;
    flex-direction: horizontal;
}

#foto{
    max-width: 25vw;
    max-height: 25vh;
}

#text{
    margin: 2%;
    font-size: 16px;
    line-height: 2;
    text-align: justify;
}